<!doctype html xmlns:og="http://ogp.me/ns#">  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:title" content="Club Pneumatique"/>
    <meta property="og:type" content="club"/>
    <meta property="og:url" content="http://club-pneumatique.org"/>
    <meta property="og:image" content="http://club-pneumatique.org/images/logo.png"/>
    <meta property="og:description"
          content="Premiering on the 19th of february is the new monthly recurring club Pneumatique Electronique! Every third saturday we'll be playing danceable electronic music with the ambition to reduce the gap between the plethora of electronic genres available out there!"/>

  <title>Club Pneumatique - Next Event: 21 May, 2011</title>
  <meta name="description" content="Premiering on the 19th of february is the new monthly recurring club Pneumatique Electronique! Every third saturday we'll be playing danceable electronic music with the ambition to reduce the gap between the plethora of electronic genres available out there!">
  <meta name="author" content="Daniel Sundström">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/style.css?v=2">
  <script src="/js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <header>

    </header>
    
    <div id="main">
    		<center>
			<img src="/img/logo.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="/memmaker_logo_small.png" />
			</center>
			<br class="clear"/>
			<div class="sections">				
				<p class="top">		
					<center><h3>MEMMAKER<br />
					for the first time on stage in Stockholm, Sweden</h3></center>
				</p>
				<p>
				<div align="justify">We've invited the Canadian/Danish band <strong>MEMMAKER</strong> to Stockholm, Sweden to be our guests at our final spring event this season. Their debut album <strong>HOW TO ENLIST IN A ROBOT UPRISING</strong> is, according to them selves, the perfect expression of dark, empowering energy based on their extensive interest and knowledge in EBM, noise and industrial music.<br />
				<br />
				For your dancing pleasure they will deliver an unbelievably hard and moving live performance which you do not want to miss!
				</div>
				</p>
				<p>
				<div align="justify"><a href="https://www.facebook.com/event.php?eid=150643561668481">Click here for more information and RSVP on our facebook-event!</a></div>
				</p>
				<p><div align="justify">
				So, now to the good stuff - the free download!<br />
				Click this link and Get Your Ass To Club Pneumatique Electronique!<a href="http://club-pneumatique.org/Memmaker_-_Get_Your_Ass_To_Mars.mp3">MEMMAKER - Get Your Ass To Mars</a>
				</div></p>

				<h4>Resident DJs</h4>
				<strong>DJ Nephilim</strong> <br /><span class="genres">(Electronica / Rythmic noise)</span><br /><br />
				<strong>Itchy && Scratchy</strong><br /> <span class="genres">(Aggrotech / Electro / Hardstyle / House / Rythmic noise)</span><br /><br />
				<strong>DJ Kraken</strong> <br /><span class="genres">(Aggrotech / IDM / Rythmic noise)</span><br /><br />

				<h4>Venue</h4>

				Our venue is <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&ll=59.337348,18.068055&spn=0.000823,0.002162&z=19&msid=217493271585070594568.0004992ec2a246626c561">Nalen Klubb</a> at David Bagares gata 15, completely refurbished for 2011!
				<br /><br />
				<br class="clear"/>
			</div>	
							
			<div id="like">
				
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpneumatique.electronique&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
			</div>
    </div>

    
    <footer>

    </footer>
  </div> <!-- end of #container -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="/js/profiling/yahoo-profiling.min.js"></script>
  <script src="/js/profiling/config.js"></script>
  <!-- end profiling code -->


  <!-- change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>