<!doctype html xmlns:og="http://ogp.me/ns#">  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:title" content="Club Pneumatique"/>
    <meta property="og:type" content="club"/>
    <meta property="og:url" content="http://club-pneumatique.org"/>
    <meta property="og:image" content="http://club-pneumatique.org/images/logo.png"/>
    <meta property="og:description"
          content="Premiering on the 19th of february is the new monthly recurring club Pneumatique Electronique! Every third saturday we'll be playing danceable electronic music with the ambition to reduce the gap between the plethora of electronic genres available out there!"/>

  <title>Club Pneumatique - Next Event: 19 Feb, 2011</title>
  <meta name="description" content="Premiering on the 19th of february is the new monthly recurring club Pneumatique Electronique! Every third saturday we'll be playing danceable electronic music with the ambition to reduce the gap between the plethora of electronic genres available out there!">
  <meta name="author" content="Daniel Sundström">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/style.css?v=2">
  <script src="/js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <header>

    </header>
    
    <div id="main">
			<a href="/en" style="display:block; float:right; margin-left:5px"><img src="/img/flags/png/gb.png" /> </a>
			<a href="/" style="display:block; float:right"><img src="/img/flags/png/se.png" /> </a>			
			<img src="/img/logo.png" id="logotype" />
			<br class="clear"/>
			<div class="sections">				
				<div class="section">
					<p class="top">		
						Pneumatique Electronique is here on a monthly basis to cater to your electronic music needs every third saturday night from 9pm to 2am. Using our resident DJs and guest DJs or guest acts we'll be playing danceable electronic music to you. Our ambition is to reduce the gap between the plethora of electronic genres available out there!					
					</p>
					<p>
					Check out <a href="http://facebook.com/pneumatique.electronique">Facebook</a> for more information about every event!
					</p>

					<h4>Resident DJs</h4>
					<strong>DJ Nephilim</strong> <br /><span class="genres">(Electronica / Rythmic noise)</span><br /><br />
					<strong>Itchy && Scratchy</strong><br /> <span class="genres">(Aggrotech / Electro / Hardstyle / House / Rythmic noise)</span><br /><br />
					<strong>DJ Kraken</strong> <br /><span class="genres">(Aggrotech / IDM / Rythmic noise)</span><br /><br />

					<h4>Venue</h4>

					Our venue is <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&ll=59.337348,18.068055&spn=0.000823,0.002162&z=19&msid=217493271585070594568.0004992ec2a246626c561">Nalen Klubb</a> at David Bagares gata 15, completely refurbished for 2011!
					<br /><br />

					<h4>The List</h4>
					<p>Add your email to our list to get the latest info and news. <br />Of course, we'll <b>never</b>
						sell or distribute your email to someone.</p>
					<form action="/email" method="POST">
						<input type="text" name="email" />
						<input type="submit" value="save">
					</form>
				</div>
				
				<div class="section">
					<h3>Next event - 19 mars</h3>
					<p>After the raging start the time has now come for the follow up of Pneumatique Electronique! This time we give you no less than two guest appearances: KOPFER KAT who just last year released the distorted smack in the face "Skrammelpop". Bone crushing rythmic noise. As icing on top of the seemingly broken speaker for the night we'll have DJ Gaffa, known from the Gothenburg club Shocks, visiting us. He's promised us a proper serving of old school rythmic noise and power electronics.<br /><br />
					
					As a gift wrapping around these two terrific acts our resident DJs will be entertaining you with a boat load of danceable electronic, and according to the theme of the night, hard genres.
<br /><br />
					Time: 21-02<br />
					Place: <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&ll=59.337348,18.068055&spn=0.000823,0.002162&z=19&msid=217493271585070594568.0004992ec2a246626c561">Nalens klubblokal, David Bagares gata 15</a>
<br /><br />
					Schedule:<br />
					21:00 - DJ Nephilim (Electronica)<br />
					21:55 - Itchy || Scratchy (Hardstyle)<br />
					22:50 - Itchy || Scratchy (Acid / Electro)<br />
					23:45 - DJ Gaffa (Rytmisk noise / Power Electronics)<br />
					00:30 - KOPFER KAT (Live show)<br />
					01:00 - DJ Kraken (Aggrotech / Electronica)
<br /><br />
					Visuals:<br />
					- Kinski
					</p>
<br />

					<p>
						<a href="/images/flyer1.png"><img src="/img/flyer1.png" width="100px"/></a>
						<a href="/images/flyer2.jpg"><img src="/img/flyer2.jpg" width="100px"/></a>
					</p>	
				</div>	
				
				<br class="clear"/>
			</div>	
			
			<div class="sections no-top">				
				<div class="section">
					<h3>What do we play?</h3>
					<p>Some random examples:</p>
					
					<!-- Roger Rotor - Codeine -->
					<% if @rand == 0 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/mPTpP2N1giU" frameborder="0"></iframe>

					<!-- Laserkraft 3D - Nein Mann (official video) -->
					<% elsif @rand == 1 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/HBjDZMJUduo" frameborder="0"></iframe>

					<!-- XMH - Cryogenic Fire (Noxvox remix by Soman) -->
					<% elsif @rand == 2 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/cQ13rTa8aYQ" frameborder="0"></iframe>

					<!-- Prometheus Burning - Some Things Are Meant To Stay Broken -->
					<% elsif @rand == 3 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/N8Zeu08luWo" frameborder="0"></iframe>

					<!-- Schwefelgelb - Alle Sterne -->
					<% elsif @rand == 4 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/Ztwdffq-HZg" frameborder="0"></iframe>

					<!-- The Knife - Silent Shout --> 
					<% elsif @rand == 5 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/1j-2KKLWng0" frameborder="0"></iframe>

					<!-- Underworld - Born Slippy -->
					<% elsif @rand == 6 %>					
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/TlLWFa1b1Bc" frameborder="0"></iframe>

					<!-- Benny Benassi - Love Is Gonna Save Us -->
					<% elsif @rand == 7 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/vwJSd0R_t84" frameborder="0"></iframe>
					
					<!-- Jekyll & Hyde - Freefall -->
					<% elsif @rand == 8 %>
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/kS3rPUvcVA0" frameborder="0"></iframe>	
					
					<!-- The PCP Principle - Unholy -->
					<% elsif @rand == 9 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/fwimLp4qgSw" frameborder="0"></iframe>	
					
					<!-- The Horrorist - One Night In New York City -->
					<% elsif @rand == 10 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/oVgjC5Gw8y0" frameborder="0"></iframe>
					
					<!-- Kopfer Kat - Ubervolt -->
					<% elsif @rand == 11 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/0xp5si8W4iY" frameborder="0"></iframe>
					
					<!-- Mangadrive - Fearbomb (Studio-X Hard Dance remix) -->
					<% elsif @rand == 12 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/5fxp4kI5rmI" frameborder="0"></iframe>
					
					<!-- Moctan - Long Distance Runner -->
					<% elsif @rand == 13 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/7jaDSYmIZh8" frameborder="0"></iframe>
					
					<!-- Hocico - Spirals of Time -->
					<% elsif @rand == 14 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/874135UN3LM" frameborder="0"></iframe>
					
					<!-- Ramp - Bitch -->
					<% elsif @rand == 15 %>						
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="750" height="390" src="http://www.youtube.com/embed/B3gM9reZpaI" frameborder="0"></iframe>
					
					<% end %>
					
				</div>
				<br class="clear"/>
			</div>
							
			<div id="like">
				
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpneumatique.electronique&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
			</div>
    </div>

    
    <footer>

    </footer>
  </div> <!-- end of #container -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="/js/profiling/yahoo-profiling.min.js"></script>
  <script src="/js/profiling/config.js"></script>
  <!-- end profiling code -->


  <!-- change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>