<!doctype html xmlns:og="http://ogp.me/ns#">  
<html lang="en" class="no-js">
<head>
 	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="google-site-verification" content="M8z33FJkudO8GpriRExkXhn3x8c6zXqvKlD9CDSZgDk" />
 	<meta property="og:title" content="Club Pneumatique"/>
    <meta property="og:type" content="club"/>
    <meta property="og:url" content="http://club-pneumatique.org"/>
    <meta property="og:image" content="http://club-pneumatique.org/images/logo.png"/>
	<title>Laserdisko</title>
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<link rel="stylesheet" href="/css/style.css?v=2">
	<script src="/js/libs/modernizr-1.6.min.js"></script>
	<meta http-equiv="Refresh" content="0; url=http://www.facebook.com/Laserdisko" />
</head>

<!-- group link  until event is available -->

<body>
<p>Please follow <a href="http://www.facebook.com/Laserdisko">this link</a> to get information about our latest 'n' greatest event!</p>
</body>
</html>